#$ vendor/bin/phpstan analyze

parameters:
	# leaving level 9 because a user_login comes a UNCHANGEABLE mixed ?! :(
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - inc/
        - plugin.php
    excludePaths:
        analyse:
            - vendor/
            # "/wp-content/" is created during composer install,
            # when package is tested
            # and not running within ft-platform
            - wp-content/
            - tests/
    ignoreErrors:
        - '#Constant WP_ENVIRONMENT_TYPE not found\.#'
        # Find a nicer way instead of ignoring this Error on every ft-module
        - '#Function Altis\\register_module not found\.#'
        - '#Function Figuren_Theater\\get_config not found\.#'
